body {
    background-color: #444444!important;
    color: #999999!important;
    text-align: center!important;
}
h3{
    font-family: 'Carter One', cursive;
    color: #CCCCCC;
}
p{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.2em;
}